__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.dockerignore
node_modules/
# Não ignore o token.json se você for subir o projeto via Git/Coolify direto (mas tenha cuidado!)
# Melhor mapear via volume no servidor.
